# Streamlit secrets (skal IKKE pushes)
.streamlit/secrets.toml

# Python og virtuelt miljø
__pycache__/
.venv/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store

# Midlertidige filer og mapper
*.log
*.tmp
no_sync/
mal.py
